{
  "useDevelopmentStorage":false,
  "connectionString": "DefaultEndpointsProtocol=https;AccountName=test123123213;AccountKey=P3QwbNapek2mzLfmGim2aEYgRA8G8M2UURBz2hEIdZMzW7MspwbCiTHyZuURhAgLKHMHohU6MCNIsnRBOypdmg==",
  "accountName": "test123123213",
  "accountKey": "YU3dYPA6n/89iBurwvBRk3M3+QnF4BWW/Du8FkFDUiYbqyExj453zILrzEBJ7x1GDxrMahq05CNtvrYOMXd2TA==",
  "containerName" : "test",
  "sas": ""
}